//- we extend the content of this file with the contnt of the main layout. It's
//- like the outcome of this extension is a sandwitch, this file is the meat in 
//- the middle and the main layout are the two pices of bread that wrap the 
//- middle of the sandwitch

extends _layout/main
//- Using block "config" we confire and pass variables that are used in the 
//- title tag, meta description and canonicallink of the HTML 
block config
  //- Configure the canonical url of this page. It is only useful for serch
  //- engines, SEO purpose. If you have the same content present on diferent 
  //- urls, it's good to tell serch enines which one is the original so you 
  //- don't get penalised.
  - const canonical = 'http://quick-blog.bitbee.uk'
  //- - const canonical = 'http://example.co.uk' 
  //- Configure the title of the page, useful for SEO
  -const title = "Welcome to my Blog"
  //- Configure the description of the page, useful for SEO
    thi will populate the meta descriptiontag
  -const description = 'Using super Quick Blog is easy and you can get 100/100 score on Google pagespeed insights'
  
  //- We use this block which will span the entire screen width and height
    and push the rest of the content down. This will be styled by inline.css,
    which is alredy loaded within HTML. The content will be rendered
    instantly and available for the user to see.
block welcome
  .welcome
    h1=title
    p.lead=description
    include _component/continue/continue
        
  //- The content of each page that is different from other pages will be present
    below, in the block "content"
block content
  h2 Firstly, let's write some content
  p The source of Quick Blog can be sound on GitHub at #[+link({href: 'https://github.com/CarolEnache/quick-blog/commits/master', text: 'Quick Blog'})]
  
  //- make use of the blockquote mixin
  +blockquote({
    source: 'Marian Zburlea',
    link: 'http://bitbee.uk',
    body: ['You dont\'t have to be good to start, you have to start to become good.']
  })
  
  //- make use of the image mixin
  +image({
    filename: '/november.jpg',
    caption: 'Leaves fall down in November',
    autopath: true
  })
  
  //- Create a paragraph with a lead class
  
  p.lead Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
  
  //- create a paragraph 
  p
    //- and inside of it a small tag
    small Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
  include _component/action-top/action-top
  
